
* {
  font-family: Helvetica;
  box-sizing: border-box;
}

#logo {
  padding: 5px;
}
.top{
  padding-right: 30px;
  padding-left: 10px;
}

.institute { 
  padding: 5px;
  margin: 0px 0px 10px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #00307d;
  color: white;
  position: relative;
  top: 10px;
  display: inline-block;
}

.navbar {
padding-top: 0px;
padding-bottom: 0px;
}

.nav-link {
  padding : 5px;
  margin-right: 22px;
  margin-left: 22px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #27282b;
  text-align: center;
}

.spaceholder{
  height:82px;
  width:100%;
}

.navbar-nav {
  margin-left: auto;
}

.canvas {
  height: 500px;
  position: relative;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

.backimg {
  height: 500px;
  padding: 0px 0px 0px 0px;
  resize: both;
}

.smallscreen {display: none;}

#introarticle {
  position: absolute;
  width: 30%;
  z-index: 1;
  top: 100px;
  left: 130px;
  color: white;
  background-color: rgba(152, 152, 152, 0.40);
  padding: 20px;
  border-radius: 15px;
}
#greeting {
  font-size: 2.3vw;
  margin: 0;
}
#intro {
  font-size: 1.6vw;
  margin-bottom: 25px;
}
.startbutton {
  width: 11vw;
  padding: 7px; 
  margin: 0px 0px 0px 0px;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 15px;
  text-align: center;
}

.startbutton1 { 
  padding: 7px; 
  margin: 0px 0px 0px 0px;
  
  text-decoration: none;
  color: black;
  border: solid 2px gray;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
}

.startbutton1:hover { 
  color: white;
  background-color: #737373;
}

.explore-button {
  background-color: #bdbdbd;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 5px;
}

.explore-button:hover { 
  background-color: #737373;
  color: white;
}

.collapse {
  margin-bottom: 10px;
}

.newssection {
  border-bottom: solid 2px #b8b8b8;
  padding: 30px 30px 30px 30px;
}

.newsimg {
  width: 100%;
  resize: both;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.newsblock {
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  color: black;
  background-color: #d9d9d9;
  border: solid 20px white;
}

.clickable2:hover {
  background-color: #b0b0b0;
}

.date {
  font-size: 15px;
  color: #6e6d6d;
  margin-bottom: 5px;
  margin-top: 10px;
}

.news{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

a:hover {text-decoration: none;}

.allnews{
  width: 150px;
  padding: 7px;
  border: solid 2px #474746;
  border-radius: 13px;
  color: #363636;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.info{
  font-size: 110%;
}

.gallery {
}
.titlesection {
  padding: 40px;
  background-color: #d4d4d4;
  border: solid 10px white;
}
.gallery-buttons { 
  height: 60px;
  
  margin-left: auto; margin-right: auto;
}
.sector-logo {
  height:60px;
  resize: both;
  border-radius: 10px;
}
.explore-button { 
  width: 100%;
  display: block;
  border: none;
  color: black;
}
.explore-label {
  font-weight: bold;
  margin-left: 4vw;
  display: inline;
  font-size: 26px;
}
.imagesection {
  padding: 20px;
  border: solid 10px #2e2e2e;
}
.galimage{
margin-left: auto; margin-right: auto; height: 40vw; resize: both;
  display: block;
}
.footer{
  background-color: #081933;
  color: white;
  padding: 25px;
}

.social {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}

.imgtitle{
  display: block;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
 .backimg {
  height: 40vh;
  background-image: url("museummini.jpg");
  background-size: cover;
  resize: width;
  filter: blur(2px);
  }
  .canvas {
    height: 40vh;
  }
  #slideshow{display: none;}
  .smallscreen{display: block;}
  .bigscreen{display: none;}
  #introarticle {
    width:80vw;
    left: 10px;
    top: 6vh;
    background-color: transparent;
  }
  #greeting {font-size: 24px;}
  #intro {font-size: 17px; margin-bottom: 10px;}
  #startbutton {font-size: 17px;}
  .galimage{height:70vw; resize: both;}
  .imagesection {
  padding: 10px;
  }
}